/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default
}

@import 'ngx-toastr/toastr';


@font-face {
  font-family: 'MyFont';
  src: url('/assets/fonts/Kanit-Regular.ttf') format('truetype');
}

body {
  font-family: 'MyFont', sans-serif;
}
